.chikn-img {
    height: 100%;
    width: 100%;
}

.chikn-img img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}


body {
    background-color: black;
    color: rgb(87, 87, 87);
    font-weight: 100px;

    text-shadow: -1px 0 rgb(74.1, 74.1, 74.1), 0 1px rgb(74.1, 74.1, 74.1), 1px 0 rgb(74.1, 74.1, 74.1), 0 -1px rgb(74.1, 74.1, 74.1);
}

.overall-height {
    height: calc(100vh - (100vw * 58 / 683));
}

.MY-container {
    width: 100vw;
    height: calc(100vw / 662.172 * 485.688);
    overflow: hidden;

    position: relative;
}

.MY-map {
    object-fit: cover;
    width: 100%;
}

.MY-pin-container {
    position: absolute;
    top: 0;
    display: flex;
    width: 5vw;
    height: calc(5vw / 25.449 * 41.255);

    transition: transform 0.2s ease;
}

.MY-pin-container:hover {
    transform: scale(2);
}

.MY-pin {
    width: 5vw;
    position: absolute;

    object-fit: cover;
}

.MY-pin--chicken {
    background-color: white;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;

    overflow: hidden;
    position: relative;
    top:  0;
    left: 0;
}
.MY-pin--chicken:hover {
    animation: Hue-Shift 1s infinite linear;
}

@keyframes Hue-Shift {
    from {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.MY-pin--chicken img {
    object-fit: cover;
    max-height: 100%;
    vertical-align: top;
}