.chikn-img {
    height: 500px;
    width: 500px;
}

.chikn-img img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}


body {
    background-color: black;
    color: rgb(87, 87, 87);
    font-weight: 100px;

    text-shadow: -1px 0 rgb(74.1, 74.1, 74.1), 0 1px rgb(74.1, 74.1, 74.1), 1px 0 rgb(74.1, 74.1, 74.1), 0 -1px rgb(74.1, 74.1, 74.1);
}